body{

background-image: url('./media/VideoCapture.jpg');

background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;
}
#container{
    width: 300px;
    height: 550px;
    background-color: rgb(14, 14, 15);
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0  rgba(238, 234, 234, 0.5), 0 6px 20px 0 rgba(238, 234, 234, 0.5)  ;
}
#keyboard{
    
    width: 290px;
    height: 120px;
    position: absolute;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 35px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: rgb(212, 218, 219);


}
#operation{
    height: 50px;
    width: 285px;
    text-align: right;
    margin-top: 2px;
    border:rgb(212, 218, 219) ;
    background-color: rgb(212, 218, 219);
}
#resultat{
    height: 50px;
    width: 285px;
    text-align: right;
    font-size: 40px;
    border:rgb(212, 218, 219) ;
    background-color: rgb(212, 218, 219);
}
#tasten{
    margin-top: 150px;
    position: absolute;
    
}
.operator,.number{
    width: 60px;
    height: 60px;
    margin: 6px;
    float:0 auto;
    border-radius: 50px;
}
/* .empty{ */
    /* background-color: lavender;  */
/* } */
.number,.operator,.{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 25px;
}
.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}
button:nth-child(3),button:nth-child(4), button:nth-child(8), button:nth-child(12), button:nth-child(16){
    font-size: 20px;
    background-color:rgb(228, 222, 209); 
}
button:nth-child(1){
    font-size: 20px;
    background-color:rgb(233, 189, 178);
}
button:nth-child(2){
    font-size: 20px;
    background-color:rgb(236, 207, 200);
}
button:nth-child(20){
    font-size: 20px;
    background-color:rgb(228, 222, 209); 
}